body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #1a1a1a;
    background-color: #060673;
}
#header-nav {
    background-color: #000040;
    border-radius: 0;
    border: 0;
}
#header-nav button {
    margin-top: 22px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ff0000;
}
.navbar-collapse {
    border-top: 0;
}
.navbar-brand, .navbar-nav li a {
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}
.navbar-brand h1 {
    color: #ff0000;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 1.8em;
}
.navbar-brand a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
}
#nav-list {
    background-color: #00055e;
}
#nav-list a {
    /*text-align: center;*/
    font-weight: bolder;
    color: #00fff7;
    font-size: 1.2em;
    text-align: center;
}
#nav-list a:hover {
    background-color: #00044d;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #ffffff;
}
#main-content {
    width: 92%;
    margin-bottom: 30px;
}
#main-content h2 {
    font-size: 2.9em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    color: #990000;
}
#main-content h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}
#main-content p {
	text-align: justify;
}
#RDR2, #RTR, #FC4 {
    width: 100%;
    padding: 20px;
    background-color: #1108bd;
    margin-bottom: 60px;
    box-shadow: 0 0 80px #18580b;
    color: #ffffff;
}
#BTT a {
	color: #00ff1a;

}
#BTT a:hover{
	color: #ffffff;
}
